{
    "presets": [
        ["@babel/env", {
            "targets": {
                browsers: ["ChromeAndroid 30", "iOS 7", "IE 10"]
            },
            "loose": true,
            "modules": false
        }]
    ],
    "plugins": [
        "html-tag",
        ["transform-css-import-to-string", {
            browsers: ["ChromeAndroid 30", "iOS 7", "IE 10"]
        }]
    ]
}
